* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #18181b;
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

img {
    width: 20rem;
}

#calculadora {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 2.25rem;
    position: relative;
}

h1::after {
    position: absolute;
    content: "";
    background-color: #185281;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-campo span,
.input-campo i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-campo input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-campo input::-webkit-outer-spin-button,
.input-campo input::-webkit-inner-spin-button {
    appearance: none;
}

.input-campo input:focus {
    outline: none;
}

#calcular {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #185281;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    transition: ease 0.4s;
}

#calcular:hover {
    transition: ease 0.4s;
    background-color: #f8fafc;
    color: #185281;
}

#resultado {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#imc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;
}

#imc span:last-child {
    font-size: 0.875rem;
    color: #cbd5e1;
}

#desc {
    width: 15.5rem;
}

#mais_infos {
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#mais_infos a {
    color: #185281;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.4s;
}

#mais_infos a:hover {
    color: #cbd5e1;
}

.oculto {
    display: none;
}

.normal {
    display: none;
}

.atencao {
    color: #dc2626;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    img {
        display: none;
    }

    #container {
        gap: 0.1rem;
    }

    #calculadora {
        padding: 1rem;
    }
}